*{
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  font-size: 2rem;

}
input{
  margin: 1rem;
  font-size: 2rem;
}

table {
  width: 100%;
  border: solid 1px white;
  margin: 2rem 0 2rem 0;
  border-collapse: collapse;
  font-size: 1.5rem;
}
th , tr , td{
  border: solid 1px white;

}
button{
  margin: 2rem 0 2rem 0;
}
.container{
  width : 50vw;
  height: auto;
}