*{
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  font-size: 2rem;

}
input{
  margin: 1rem;
  font-size: 2rem;
}

.playerTable{
  width: 50%;
}